div.cont
{
 
    padding-top: 200px;
}
table,tr,th{
    border:3px solid clack;

}

input[type=text], input[type=password]
{
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px 155px ; 
    border-radius: 10px;
    margin-left: 30px;

}
select{
    border-radius: 10px;
    margin-left: 30px;
    padding: 12px 180px ; 
}
body{
    background-image: url("static/i5.jpg");
    background-size: cover;
    font-size: 2vw;
    color: white;

    
    
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color: hotpink;
    
}
.sbt{
    border-radius: 10px;
    width: 100px;
    height: 50px;
}
.sbt:hover{
    background-color: black;
    color: white;
    font-size: bold;
}

  