div.cont
{
 
    padding-top: 200px;
}
table,tr,th{
    border:3px solid clack;

}

input[type=text], input[type=password]
{
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 155px ; 
    border-radius: 10px;

}
select{
    border-radius: 10px;
    padding: 12px 180px ; 
}
body{
    background-image: url("static/i5.jpg");
    background-size: cover;
    font-size: 2vw;
    color: white;
    
    
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color: hotpink;
  }