.abtn{
    border-radius: 30px;
    width: 170px;
    height: 170px;
  
    background-size: cover;
    margin-left: 50px;
    color: #fff;
    background-image: url("static/alogo1.png");
    box-shadow: 0 7px #999;
    opacity: 0.7;
    
}
.fbtn{
    border-radius: 30px;
    width: 170px;
    margin-left: 50px;
    
    height: 170px;
    margin-top: 70px;
    color: #fff;
    background-image: url("static/flogo1.png");
    background-size: cover;
    
    opacity: 0.7;
   
    box-shadow: 0 7px #999;
    
}
.shbtn{
    border-radius: 50px;
    width: 170px;
    margin-left: 1000px;
    
    height: 110px;
    margin-top: 70px;
    color: #fff;
    background-size: cover;
    
    opacity: 0.7;
   
    box-shadow: 0 7px #999;
    
}
.about{
    border-radius: 20px;
    width: 90px; 
    height: 30px;   
    box-shadow:0 2px gray;
}
.about:hover{
    background-color: black;
    color: blanchedalmond;
}
.sbtn{
    margin-top: 80px;
    margin-left: 50px;
    
    border-radius: 30px;
    width: 170px;
    height: 170px;
    color: #fff;
     opacity: 0.7;
   
    background-size: cover;

    background-image: url("static/astud.jfif");
    box-shadow: 0 7px #999;
    
}
.abtn:hover{
    opacity: 2.0;
}
.sbtn:hover{
    opacity: 2.0;
}
.fbtn:hover{
    opacity: 2.0;
}
.con{
    background-image: url("static/dem7.jpg");
    background-size: 1550px 690px; 
}
.header{
    padding: 20px;
  text-align: center;
  background:black;
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.footer{
    background-color: darkgrey;
    font-family: cursive;
}
