.abtn{
    border-radius: 30px;
    width: 300px;
    height: 300px;
    margin-top: 370px;
    background-size: cover;
 
    color: #fff;
    background-image: url("static/alogo1.png");
    box-shadow: 0 7px #999;
    opacity: 0.7;
    
}
.fbtn{
    border-radius: 30px;
    width: 300px;
    height: 300px;
    margin-top: 200px;
    color: #fff;
    background-image: url("static/flogo1.png");
    background-size: cover;
    
    opacity: 0.7;
   
    box-shadow: 0 7px #999;
    
}
.sbtn{
    border-radius: 30px;
    width: 300px;
    height: 300px;
    margin-top: 200px;
    color: #fff;
     opacity: 0.7;
   
    background-size: cover;

    background-image: url("static/astud.jfif");
    box-shadow: 0 7px #999;
    
}
.abtn:hover{
    opacity: 2.0;
}
.sbtn:hover{
    opacity: 2.0;
}
.fbtn:hover{
    opacity: 2.0;
}
.con{
    background-image: url("static/i1.jpg");
    background-size: 1550px 690px; 
}
.header{
    padding: 10px;
  text-align: center;
  background:black;
  color: white;
  font-size: 10px;
}